@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
   

body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 50vh;
    overflow: hidden;
    margin: 0;
}